{% extends 'registration/base_acc.html' %}

{% block content %}
<div class="section-hero">
    <div class="container">
        <div class="hero">
            <div class="row d-flex justify-content-center">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="sign-in-form col-4">
                    <div class="form-title">
                        <p>Change Password</p>
                    </div>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            {{ form.old_password }}
                            {{ form.new_password1 }}
                            {{ form.new_password2 }}
                            {% if form.errors %}
                            {{ form.errors }}
                            {% endif %}
                            <button class="btn btn-login col-4" type="submit">Save</button>
                            <input type="hidden" name="next" value="{{ 'login' }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
