{% extends 'registration/base_acc.html' %}

{% block content %}
<div class="section-hero">
    <div class="container">
        <div class="hero">
            <div class="row d-flex justify-content-center">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="sign-in-form col-4">
                    <div class="form-title">
                        <p>Successfully</p>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <a href="{% url 'login' %}">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
