{% extends 'registration/base_acc.html' %}

{% block content %}
<div class="section-hero">
    <div class="container">
        <div class="hero">
            <div class="row d-flex justify-content-center">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="sign-in-form col-4">
                    <div class="form-title">
                        <p>Sign in</p>
                    </div>
                    <form class="form" method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="row">
                            {{ form.username }}
                            {{ form.password }}
                            {% if form.errors %}
                            <div class="alert alert-warning" role="alert">
                                {% for error in form.errors.values %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                            <button class="btn btn-login col-4" type="submit" value="login">Login</button>
                            <input type="hidden" name="next" value="{{ next }}">
                        </div>
                    </form>
                    <div class="row mt-5">
                        <div class="col-12">
                            <p>Or </p>
                            <a href="{% url 'signup' %}">create account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
