{% extends 'base.html' %}

{% block content %}

<div class="main-body col-9">
    <div class="container-fluid">
        <div class="text-center pt-5 detail">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-secondary" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="detail-item row mb-3 text-center">
                <p class="col-4">
                    Название:
                </p>
                <p class="col-8">
                    {{ item.list_name }}
                </p>
            </div>

            {% if item.list_desc %}
            <div class="detail-item row mb-3">
                <p class="col-4">
                    Описание:
                </p>
                <p class="col-8">
                    {{ item.list_desc }}
                </p>
            </div>
            {% endif %}

            {% if item.start_date %}
            <div class="detail-item row mb-3">
                <p class="col-4">
                    Дата начала:
                </p>
                <p class="col-8">
                    {{ item.start_date }}
                </p>
            </div>
            {% endif %}

            {% if item.start_time %}
            <div class="detail-item row mb-3">
                <p class="col-4">
                    Время начала:
                </p>
                <p class="col-8">
                    {{ item.start_time }}
                </p>
            </div>
            {% endif %}

            {% if item.type %}
            <div class="detail-item row mb-3">
                <p class="col-4">
                    Тип:
                </p>
                <p class="col-8">
                    {{ item.list_type }}
                </p>
            </div>
            {% endif %}
            {% if item.status == False %}
            <div class="row d-flex justify-content-between">
                <div class="col-3">
                    <a href="{% url 'task_done' id=item.id %}" class="btn btn-default done-btn">Done</a>
                </div>
                <div class="col-3">
                    <a href="{% url 'list_edit' id=item.id %}" class="btn btn-default">Edit</a>
                </div>
                <div class="col-3">
                    <a href="{% url 'task_delete' id=item.id %}" class="btn btn-default delete-btn">Delete</a>
                </div>
            </div>
            {% else %}
            <div class="row d-flex justify-content-between">
                <div class="col-3">
                    <a href="{% url 'list_edit' id=item.id %}" class="btn btn-default">Edit</a>
                </div>
                <div class="col-3">
                    <a href="{% url 'task_delete' id=item.id %}" class="btn btn-default delete-btn">Delete</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
