{% extends 'base.html' %}

{% block content %}
                    <div class="main-body col-9">
                        <div class="main-form container-fluid">
                            <div class="form-body d-flex justify-content-center">
                                <form class="form-new col-10" method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            {{ form.task_name }}
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-12">
                                             {{ form.task_desc }}
                                        </div>
                                    </div>
                                    
                                    <div class="form-row row d-flex justify-content-between">
                                        <div class="form-group col-3">
                                            <p style="margin-bottom: 5px; color: #6c757d;">{{ form.start_date.label }}</p>
                                            {{ form.start_date }}
                                        </div>
                                        <div class="form-group col-3">
                                            <p style="margin-bottom: 5px; color: #6c757d;">{{ form.start_time.label }}</p>
                                            {{ form.start_time }}
                                        </div>
                                        <div class="form-group col-3">
                                            <p style="margin-bottom: 5px; color: #6c757d;">{{ form.task_type.label }}</p>
                                            {{ form.task_type }}
                                            <a href="{% url 'new_type' %}?next={{ request.path }}"> or create new </a>
                                        </div>
                                    </div>
                                    <div class="form-row row d-flex justify-content-center">
                                        <div class="form-group col-3 d-flex justify-content-center">
                                            <button type="submit" class="btn" style="width: 100%">Save</button>
                                        </div>
                                        {{ form.errors }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

{% endblock %}
